table, tr, td {
	border: 1px solid;
}
table {
	border-collapse: collapse;
	margin-left : 50px;
	margin-bottom: 10px;
}
td{
	padding-left:4px; padding-right:4px ; text-align:center; font-size: 18px;
}

.header{
    position:fixed;
	left:0;
	top: 0;
	width:100%;
	height: 30px;
	padding: 20px 10px 20px 10px;
	background-color: #888 ;
	color : white;
}
#logo {
	position:fixed;
	left: 30px;
	top: 0;
}

#menu{
	margin-left: 130px; 
}

#container{
	outline: none;
	padding-top: 50px;
	padding-bottom: 30px ; 
}

#footer {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	box-sizing:border-box;
	height:100px;   /* Height of the footer */
	background:#888; color: white;
	padding:20px 0 0 100px;
	font-size: 16px;
 }
 #footer a {color: white;}

 #resultat, #zilist{
	 margin:10px;
 }

 #zistring {
	 font-size: 20px;
 }

 button#quizbutton {
	 margin-left: 50px;
 }

 #kanji {
	 font-size: 40px;
	 margin-left: 40px;
 }

 #solution, #retry {
	 visibility : hidden
 }

 button.menubouton, button.menuzistring {
	 margin: 20 px;
	 background-color: darkgreen;
	 color: white;
	 font-size: 16px;
	 font-weight:bold;
 }
 button.menuzistring{
	 background-color: darkred;
 }
 button.zilistbutton{
	 display:inline-block;
	 font-size: 20px;
	 margin : 10px;
	 font-weight: bold;
	 color:rgb(23, 119, 23)
 }
 button.Addzi{
	 margin: 10px;
 }

form.multi { /* https://www.digitalocean.com/community/tutorials/how-to-style-common-form-elements-with-css */
  margin-left: 10%;
  width : 40%;
  box-sizing: border-box;
  padding: 2rem ;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 90%);
  border: 4px solid hsl(0, 0%, 60%);
  display: grid;
  grid-template-columns: 1Fr ;
  gap: 0;
}

button.formbut {
   margin-top:20px;
   background-color:#A0522D;
   color: white;
   width: 100%;
   height:30px;
   width:70%;
   font-size: 16px;
   font-weight:bold;
   margin-left:15%;
}

p#formhead {
	font-size: 16px;
	font-weight: bold;
	text-decoration-line: underline;
}

span#viewcar {
	font-size:24px;
}

input:invalid {
	border: 2px dashed red;
}
  
input:valid {
	border: 1px solid black;
}
  
:is(tbody, table) > tr:nth-child(odd) {
    background: #0001; /* or #fff1 for dark themes */
}
