{{define "footer.html"}}
<div id="footer">
	See source code at <a href="https://github.com/francisstephan/character_dictionary_manager" target="_blank">https://github.com/francisstephan</a><br /><br />
	
</div>
<script>
	function shortkey(e) {
		if(e.keyCode==80) htmx.ajax('GET', "/getpyform", {target: "#content", swap: "innerHTML"}); // key p : pinyin => zi
	    if(e.keyCode==90) htmx.ajax('GET', "/getziform", {target: "#content", swap: "innerHTML"}); // key z : zi => pinyin
	}
	function esckey(e) {
		if(e.keyCode==27) htmx.ajax('GET', "/remove", {target: "#content", swap: "innerHTML"}); // key esc : cancel form
	}
	function ajustkey() {
      contenu = document.getElementById("content");
	  // console.log(contenu.innerHTML);
	  if (contenu.innerHTML.startsWith("<form")) { // if form, authorize Esc and remove z and p listeners
		  document.body.removeEventListener("keydown", shortkey);
		  document.body.addEventListener("keydown", esckey);
	  }
	  else { // if not form, remove Esc (there is nothing to cancel) and add z and p listeners
		  document.body.addEventListener("keydown", shortkey);
		  document.body.removeEventListener("keydown", esckey);
	  }
	}
	window.onload = function() {
	  elem = document.body 
	  elem.addEventListener("keydown", shortkey) // initially enable z and p shortcut keys
	  elem.addEventListener("htmx:afterRequest", ajustkey) // after ajax request performed by htmx, adjust keydown listeners
	  elem.addEventListener('htmx:afterRequest', function (evt) {
        contenu = document.getElementById("content");
        if (evt.detail.failed && evt.detail.xhr) {  // display error message within the document (and not only the console)
          // Server error with response contents, equivalent to htmx:responseError
          console.warn("Server error", evt.detail)
          const xhr = evt.detail.xhr;
          contenu.innerHTML = `Unexpected server error: ${xhr.status} - ${xhr.statusText}`;
        } 
      });
	};

</script>
</body>
</html>
{{end}}
